<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active" href="/contactus">Contact Us</a></li>
            </ul>
    </header>
    
    <main>
        <h1>Book a call</h1>
        <form class="product-form" action="/contactus" method="POST">
            <div class="form-control">
            <label for="title">Name:</label>
              <input type="text" name="name" id="name"><br>
              <label for="title">Email:</label>
              <input type="email" name="email" id="email"><br>
              <label for="title">Phone:</label>
              <input type="number" name="phoneNumber" id="phoneNumber"><br>
              <label for="title">Time for call:</label>
              <input type="date" name="date" id="date"><input type="time" name="time" id="time"><br>
              <button type="submit">GET A CALL</button>
            </div>
        </form>
    </main>
</body>
</html>