.product-form {
    background-color: grey;
    width: 20rem;
    padding: 20px;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input{
    display: block;
    width: 100%;
}

.form-control input{
    border: 1px solid #ac5252;
    font: inherit;
    border-radius: 2px;
}

button{
    font: inherit;
    border: 1px solid #b34848;
    color: #d40b0b;
    background: #e9e1e1;
    border-radius: 2px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #834444;
    color:#e9e1e1;
}